<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title>رزرو نوبت</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header class="top-bar">
  <div class="logo">mediTurn</div>
</header>

<div class="layout">

  <main class="content">
    <h3>رزرو نوبت</h3>

    <table>
      <thead>
        <tr>
          <th>دکتر</th>
          <th>روز</th>
          <th>ساعت</th>
          <th>وضعیت</th>
          <th>عملیات</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>دکتر رضایی</td>
          <td>1404/07/23</td>
          <td>15:30</td>
          <td class="status free">آزاد</td>
          <td>
            <button class="btn reserve">رزرو</button>
          </td>
        </tr>

        <tr>
          <td>دکتر احمدی</td>
          <td>1404/07/24</td>
          <td>10:00</td>
          <td class="status reserved">رزرو شده</td>
          <td>
            <button class="btn cancel">لغو</button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>

  <aside class="sidebar">
    <div class="profile">
      <div class="avatar">عکس</div>
      <p>بیمار</p>
      <p>نام بیمار</p>
    </div>

    <nav class="menu">
      <a href="appointments.html" class="active">رزرو نوبت</a>
      <a href="my-appointments.html">نوبت‌های من</a>
    </nav>

    <a href="#" class="logout">خروج از حساب</a>
  </aside>

</div>

</body>
</html>
